$content-card-bg-color: #2c2c2e;
$border-radius: 10px;

.content-card {
  background-color: $content-card-bg-color;
  border-radius: $border-radius;
  padding: 10px;
  flex: 1;
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 1s;
  opacity: 0;

  @include mobile {
    margin-bottom: 5rem;
  }

  @keyframes fadeIn {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }

  .animate {
    opacity: 0; 
    transform: scale(0.98); 
    animation: fadeInScale 0.5s ease-out forwards;
    animation-delay: 0s; 

    @keyframes fadeInScale {
        from {
            opacity: 0;
            transform: scale(0.98);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }
  }
}

