$header-bg-color: #2c2c2e;
$header-img-size: 100px;
$icon-size: 24px;

.header-card {
  display: flex;
  align-items: center;
  background-color: $header-bg-color;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 1.875rem;
  animation: fadeIn 1s ease-out forwards;
    opacity: 0;

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

  &__img {
    width: $header-img-size;
    height: auto;
    margin-right: 20px;
    border-radius: 10%;
  }

  &__content {
    flex-grow: 1;
  }

  &__wrapper {

    &__social {
      display: flex;
      align-items: center;
  
      &__link {
        margin: 0 10px;
  
        &__icon {
          width: $icon-size;
          height: auto;
          color: white;
        }
      }
    }

    &__loc {

      &__link {
        display: flex;
        align-items: center;
        color: white;
        text-decoration: none;

        &__icon {
            background-color: white;
            border: 1px solid white;
            border-radius: 4px;
            padding: 4px 6px;
            margin-right: 10px;
            color: $header-bg-color;
        }

        &__text {
            font-weight: normal;

            strong {
                font-weight: bold;
            }
        }
      }
    }
  }
}
