.header-card {
  display: flex;
  align-items: center;
  background-color: $cards-background;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 1.875rem;
  animation: fadeIn 1s ease-out forwards;
    opacity: 0;

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

  &__img {
    width: 100px;
    height: auto;
    margin-right: 15px;
    margin-left: 5px;
    border-radius: 10%;

    @include tablet {
      width: 130px;
    }

    @include mobile {
      width: 100px;
    }

    @include brHeader {
      margin-left: 0;
    }
  }

  &__box {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;

      @include tablet {
        flex-direction: column;
      }

      @include mobile {
        line-height: 1px;
      }

      @include brHeader {
        width: 65%;
      }

    &__content {

     @include tablet {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        &__title {
          font-size: 20px;
        }

        &__name {
          font-size: 17px;
        }
      }

      @include brHeader {

        &__title {
          font-size: 17px;
        }

        &__name {
          font-size: 16px;
        }
      }
    }  
  
    &__divider {
      width: 1px;
      height: 140px;
      background-color: $white;
      margin: 0 20px;

      @include tablet {
        width: 280px;
        height: 1px;
      }

      @include brHeader {
        width: 200px;
      }
    }
  
    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;

      @include tablet {
        font-size: 15px;
        padding-top: 20px;
      }

      @include mobile {
        gap: 0;
        padding-top: 13px;
      }

      @include brHeader {
        gap: 16px;
      }
  
      &__social {
        display: flex;
        align-items: center;
    
        &__link {
          margin: 0 10px;

          :hover {
            color: $link-bg-color;
          }
    
          &__icon {
            width: 24px;
            height: auto;
            color: $white;
          }
        }
      }
  
      &__loc {

        &:hover {
          .header-card__box__wrapper__loc__link__icon {
            background-color: $link-bg-color; 
            border-color: $link-bg-color;
          }
        }
  
        &__link {
          display: flex;
          align-items: center;
          color: $white;
          text-decoration: none;
  
          &__icon {
              background-color: $white;
              border: 1px solid $white;
              border-radius: 4px;
              padding: 4px 6px;
              margin-right: 10px;
              color: $cards-background;
          }

          &__text {
            display: flex;
            flex-direction: row;
            gap: 5px;

            @include brHeader {
              flex-direction: column;
              align-items: center;
              gap: 17px;
              font-size: small;
            }

            &__texttitle {
              font-weight: bold;
          }
          }
        }
      }
    }
  }
}
