.slidertest {
    max-width: 1240px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    .carrousel-container {
        text-align: center;
        position: relative;

        &__slider {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
  
        .slide-img {
            max-width: 75%;
            height: auto;
            border-radius: 30px;
            margin: 0 10px;
        }
  
        .project-info {
            animation: fadeIn 1s ease-out;
            h3 { margin-top: 10px; }
            p { margin-top: 5px; }
            button { margin-top: 10px; }

            &__button {
                background-color: #304CFD;
                color: white;
                border: none;
                border-radius: 5px;
                padding: 10px 20px;
                cursor: pointer;
                font-family: 'Play', sans-serif;
                margin-top: 15px; 
                transition: transform 0.3s ease, background-color 0.3s ease;

                &:hover {
                    transform: scale(1.05); 
                    background-color: darken(#304CFD, 10%); 
                }

                &:active {
                    transform: scale(0.95); 
                }
            }
        }

        .carousel-arrow-left, .carousel-arrow-right {
            background-color: #304CFD;
            color: white;
            border: none;
            border-radius: 50px;
            padding: 5px 20px;
            cursor: pointer;
            transition: transform 0.3s ease;
            font-size: xxx-large;

            &:hover {
                transform: scale(1.1);
                background-color: darken(#304CFD, 10%);
            }
        }
    }
}

.Modal {
    background: #2c2c2e;
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 680px;
    width: 90%;

    .modal-close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #304CFD;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: pointer;
        font-size: large;
        transition: transform 0.3s ease, background-color 0.3s ease;

        &:hover {
            transform: scale(1.1);
            background-color: darken(#304CFD, 10%);
        }

        &:active {
            transform: scale(0.95);
        }
    }
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}
