.projects__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
        display: none;

        @include brProjects {
            display: flex;
        }
    }

    &__desktop {
        display: flex;
        flex-direction: row;
        align-items: center;

        @include brProjects {
            display: none;
        }

        &__slider {
            max-width: 26%;
    
            .slick-list {
                height: 608px !important; 
            }
    
            .slick-slide {
                opacity: 0.5; 
                transition: transform 0.3s ease, opacity 0.3s ease;
                margin: 0 5px; 
    
                .desktop-slider-img {
                    max-height: 200px;
                    width: auto;
                    margin: auto;
                    border-radius: 10px; 
                }
            }
    
            .slick-current {
                opacity: 1; 
                transform: scale(1.05);
            }
        }

        &__slider-arrows {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px 20px; 
    
            &__up {
                background-color: $link-bg-color;
                color: white;
                border: none;
                border-radius: 50px;
                padding: 10px;
                margin: 5px;
                cursor: pointer;
                transition: transform 0.3s ease;
    
                &:hover {
                    transform: scale(1.1); 
                    background-color: $link-bg-hover-color; 
                }
            }
    
            &__down {
                background-color: $link-bg-color;
                color: $white;
                border: none;
                border-radius: 50px;
                padding: 10px;
                margin: 5px;
                cursor: pointer;
                transition: transform 0.3s ease;
    
                &:hover {
                    transform: scale(1.1); 
                    background-color: $link-bg-hover-color; 
                }
            }
        }
    }

    &__mobile {
        display: none;

        @include brProjects {
            display: flex;
        }
    }
}

