//--Colors--//
$page-background: #1c1c1e;
$cards-background: #2c2c2e;
$white: #ffffff;
$link-bg-color: #304CFD;
$link-bg-hover-color: darken(#304CFD, 10%);
$error-color: red;
$input-nav-color: #414249;
